.red{
    background-color: brown;
}
.yellow{
    background-color: yellowgreen;
}
.nocolor{
    background-color: aliceblue;
}
.green{
    background-color: green;
}
    td{
    background-color: aqua;
}