body{
    background-color: antiquewhite;
}
.general
{
    background-color:rgb(116, 116, 228);
}
.health
{
    background-color:rgb(116, 116, 228);
}
.policy
{
    background-color:rgb(116, 116, 228);
}